<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>VPN Manager</title>


    <link href="{% static 'search/img/favicon.svg' %}" rel="icon" type="image/x-icon">


    <!--CSS libs-->
    <link href="{% static 'search/libs/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'search/libs/jquery-ui/jquery-ui.css' %}" rel="stylesheet">

    <link href="{% static 'search/libs/chart.js/Chart.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'search/libs/dataTables/dataTables.bootstrap5.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'search/libs/bootstrap-datepicker/bootstrap-datepicker.standalone.css' %}" rel="stylesheet"
          type="text/css"/>


    <link href="{% static 'search/libs/bootstrap4-toggle/bootstrap4-toggle.min.css' %}" rel="stylesheet"
          type="text/css"/>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">


    <!-- Custom CSS-->
    <link href="{% static 'search/css/styles.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'search/css/css.css' %}" rel="stylesheet" type="text/css"/>


    <!--JavaScript libs-->
    <script src="{% static 'search/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'search/libs/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'search/libs/moment.js/moment.min.js' %}"></script>
    <script src="{% static 'search/libs/litepicker/bundle.js' %}"></script>
    <script src="{% static 'search/libs/bootstrap4-toggle/bootstrap4-toggle.min.js' %}"></script>

    <!--    <script src="{% static 'search/libs/daterangepicker/daterangepicker.js' %}"></script>-->
    <!--    <script src="{% static 'search/libs/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>-->

    <script src="{% static 'search/libs/font-awesome/js/all.js' %}"></script>
    <script src="{% static 'search/libs/feather-icons/js/feather.js' %}"></script>
    <script src="{% static 'search/libs/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'search/libs/chart.js/Chart.js' %}"></script>
    <!--    <script src="{% static 'search/libs/simple-datatables/datatable.js' %}"></script>-->
    <script src="{% static 'search/libs/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'search/libs/dataTables/dataTables.bootstrap5.js' %}"></script>
    <script src="{% static 'search/libs/dataTables/dataTables.responsive.min.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

    <!-- Custom scripts-->
    <script src="{% static 'search/js/scripts.js' %}"></script>


</head>

<body class="nav-fixed">
{% block body %}
{% endblock %}
</body>


</html>