{% extends 'search/base.html' %}
{% load static %}
{% block content %}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon">
                            <div class="nav-link-icon">
                                <i data-feather="airplay"></i>
                            </div>
                        </div>
                        Search
                    </h1>
                    <div class="page-header-subtitle">Search panel</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-n10">
    <div class="row">

        <div class="input-group input-group-lg col-xl-10 mb-10">
            <div class="input-group-text">
                <img src="{% static 'search/img/google.ico' %}">
            </div>
            <input class="form-control" id="search-input" placeholder="Search" required="" type="text">
            <button class="btn btn-primary" id="button-search" type="button">
                <i data-feather="search"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
            <div class="card-header">Extended DataTables</div>
            <div class="card-body">
                <table id="datatablesSimple">
                </table>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'search/js/search.js' %}"></script>

{% endblock %}