{% extends 'search/base.html' %}
{% load static %}
{% block content %}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon">
                            <div class="nav-link-icon">
                                <i data-feather="airplay"></i>
                            </div>
                        </div>
                        Search
                    </h1>
                    <div class="page-header-subtitle">Search panel</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-n10">
    <div class="row">

        <div class="input-group input-group-lg col-xl-10 mb-10">
            <div class="input-group-text">
                <img src="{% static 'search/img/google.ico' %}">
            </div>
            <input class="form-control" id="search-input" placeholder="Search" required="" type="text">
            <button class="btn btn-primary" id="button-search" type="button">
                <i data-feather="search"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="card mb-4">
            <div class="card-header">Extended DataTables</div>
            <div class="card-body">
                <table id="datatablesSimple">
                </table>
                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <div></div>
                    <div>
                        <button class="btn btn-primary float-left" type="button" data-bs-toggle="modal"
                                data-bs-target="#modal">
                            Обработать
                        </button>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Подтверждаете обработку данных ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Отменить</button>
                <button class="btn btn-primary" type="button">Подтвердить</button>
            </div>
        </div>
    </div>
</div>

<div id="error-modal">

</div>

<script src="{% static 'search/js/search.js' %}"></script>

{% endblock %}